#banner {
    width: 100%;
    height: 200px; /* Adjusted to 200px; 200% might make it too large */
    background-image:url('https://render.fineartamerica.com/images/rendered/default/flat/puzzle/images/artworkimages/medium/3/dark-moody-wall-art-skull-butterflies-and-flowers-dark-academia-decor-dreamframer-art.jpg?&targetx=-62&targety=0&imagewidth=1125&imageheight=750&modelwidth=1000&modelheight=750&backgroundcolor=522D17&orientation=0&producttype=puzzle-18-24&brightness=11&v=6');
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.main{
    color:white;
    text-align:center;
}
#gold{
    position:absolute;
    top:160px;
    left:600px;
}
#code{
    height:200px;
    width:350px;
    right:30px;
    top:300px;
}
#resume{
    right:100px;
    ]
